@{
    ViewData["Title"] = "Max Roe Home Page";
}

<header class="text-center justify-content-center">
    <h1 class="display-4">C0453 Applications Programming</h1>
    <h2>By Max Roe</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header> 
<section>
    <ol class="list-group">
        <li class="list-group-item">
            <a asp-controller="Home" asp-action="DistanceConverter">App01: Distance Converter</a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Home" asp-action="BMICalculator">App02: BMI Calculator</a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Home" asp-action="StudentMarks">App03: Student Marks</a>
        </li>
    </ol>
</section>  